

    <!-- Button trigger modal -->
  

    <div class="container-fluid text-center bg-light vh-100">
        <div class="row pt-3 pb-3">
            <div class="col">
                <h1>Welcome!</h1>
            </div>
        </div>
        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPostModal">
            Create a Post
          </button>
        <div class="album py-4 bg-light">
            <div class="container">
    
              <div class="row" >
                <div class="col-md-4" *ngFor="let post of posts">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h1>{{post.name}}</h1>
                      <p class="card-text">{{post.message}}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary"  data-toggle="modal" data-target="#editPostModal">Edit</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#deletePostModal">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
    <!-- addPostModal -->
  <div class="modal fade" id="addPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create a Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                <small id="emailHelp" class="form-text text-muted">Leave blank to remain anonymous.</small>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Leave your message here</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<!-- editPostModal -->
  <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit a Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                <small id="emailHelp" class="form-text text-muted">Leave blank to remain anonymous.</small>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Leave your message here</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Edit Post</button>
        </div>
      </div>
    </div>
  </div>

 <!-- deletePostModal -->
  <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete a Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Are you sure you want to delete this post?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Delete Post</button>
        </div>
      </div>
    </div>
  </div>
 
    </div>